{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/home.css'%}" rel="stylesheet">

{% include 'sidebar.html' with sectios=sections %}

{% for post in posts %}
<div class="container mt-4">
    <div class="card">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-text">{{ post.content }}</p>
            <p class="font-italic">Publicado: {{ post.pub_date }}</p>
            <p class="font-italic">Autor: {{ post.user_id }}</p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}
