{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/profile.css'%}" rel="stylesheet">
<div class="container">
    <div class="profile-card">
        {% if user.picture %}
                <img src="{{ user.picture.url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <form enctype="multipart/form-data" method="post" action="{% url 'ct:profile' %}">
                    {% csrf_token %}
                    <div class="upload-btn-wrapper">
                        <button class="btn">Adicionar Foto</button>
                        <input type="file" name="myfile" />
                    </div>
                </form>
            {% endif %}
            <h2>{{ user.get_full_name }}</h2>
            <p>{{ user.email }}</p>
            <p>{{ user.phone }}</p>
            {% if user.is_journalist %}
                {% for post in posts %} 
                    <div class="container mt-4">
                        <div class="card">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h1 class="card-title">{{ post.title }}</h1>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="font-italic">Publicado: {{ post.pub_date }}</p>
                                <p class="font-italic">Autor: {{ post.user_id }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Regular User</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
